h1{text-align: center;}

p{text-align: center;}

body{text-align: center;}


p{font-family:  'Permanent Marker', cursive;}

h1{font-family: 'Russo One', sans-serif;}
h3{font-family: 'Alfa Slab One', cursive;}

/*body{background-image: url(https://media.istockphoto.com/videos/thailand-flag-video-loop-4k-video-id611802688?s=640x640);}*/

body{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo4cbxScjJVfFDFWQPsd9gXemZJSPP8sSvNBegW-K5QAUfyg2UEw);background-size: cover;}
